/* hide the original widget - that there were no two labels on the screen*/
#jivo_chat_widget{
	display: none;
}

/* the default style - for offline messages if no one is online */
#jivo_custom_widget{
	position: fixed;
	display: none;
	bottom: 60px;
	right: 20px;
	z-index: 9999;
	width: 245px;
	cursor: pointer;
	/*background: url(/img/chat/atendimentoonline.gif) no-repeat;*/
	height: 197px;
}

/* when you hover the label should be shifted to the right by 3px */

/* if there are operators online - show other label*/
#jivo_custom_widget.jivo_online{
	display: block;
	background: url(/img/chat/atendimentoonline.gif) no-repeat center center;
}

@media only screen and (max-width: 600px) {
	#jivo_custom_widget {
		bottom: 0px;
		width: 100px;
		height: 135px;
		right: 15px;
	}

	#jivo_custom_widget.jivo_online {
		background-size: 100%;
	}
}