/*
Name: 			theme.css
Written by: 	Okler Themes - (http://www.okler.net)
Version: 		2.1.0
*/
body {
	background-color: #edeff2;
	color: #87919f;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 22px;
	margin: 0;
	padding: 30px 0 0;
}

html.no-page-top body > .body {
	padding-top: 100px;
}

/* Header */
#header {
	background: none repeat scroll 0 0 #fff;
	border-bottom: 3px solid #e5e7e9;
	clear: both;
	padding: 4px 0 8px;
	position: fixed;
	top: 0;
	transition: all 0.2s ease 0s;
	width: 100%;
	z-index: 1001;
}

#header > .container {
	margin-bottom: -35px;
	position: relative;
	display: table;
	max-width: 1170px;
}

#header > .navbar-collapse > .container {
	position: relative;
}

#header .header-top {
	background: #F6F8FB;
	width: 100%;
	z-index: 1002;
	margin: -4px 0 12px;
	min-height: 50px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#header .header-top p {
	float: left;
	font-size: 0.9em;
	line-height: 50px;
	margin: 0;
}

#header .header-top ul.social-icons {
	float: right;
	list-style: none;
	margin: 0 0 0 25px;
	padding: 0;
	position: relative;
	top: 11px;
	right: 11px;
}

#header .header-top ul.social-icons li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#header .header-top ul.social-icons li a {
	display: inline-block;
	width: 28px;
	color: #bf7600;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#header .header-top i.fa {
	margin-left: 6px;
	margin-right: 6px;
	position: relative;
	top: 1px;
}

#header .header-top nav {
	float: right;
}

#header .header-top nav i.fa {
	top: 0;
}

#header .header-top nav ul.nav-top li a, #header .header-top nav ul.nav-top li span {
	color: #999;
	font-size: 0.9em;
	line-height: 30px;
	padding: 0 6px;
}

#header .header-top nav ul.nav-top li a:before {
	display: none;
}

#header .header-top.color nav ul.nav-top li a, #header .header-top.color nav ul.nav-top li span {
	color: #FFF;
}

#header .header-top.color ul.social-icons li a {
	color: #FFF;
}

#header .search {
	float: right;
	position: relative;
}

#header .search a {
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: #bf7600;
	position: relative;
	z-index: 9999;
	-webkit-transform: translate3d(0, 0, 0);
}

#header .search .search-input {
	position: absolute;
	right: -12px;
	top: 20px;
	background: #434A54;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 6px;
	width: 260px;
	z-index: 9998;
	filter: alpha(opacity=0);
	opacity: 0;
	display: none;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#header .search .search-input.active {
	top: 40px;
	filter: alpha(opacity=100);
	opacity: 100;
}

#header .search .search-input input {
	border: 0 none;
	border-radius: 4px 0 0 4px;
	height: 45px;
	margin: -1px 0 0;
}

#header .search .search-input .btn {
	padding-top: 12px;
	padding-bottom: 11px;
	margin-top: -1px;
}

#header .search .search-input:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #434A54;
	position: absolute;
	top: -8px;
	right: 15px;
}

#header nav {
	float: right;
}

#header nav ul.nav-main {
	margin: -7px 10px 8px 0;
}

#header nav ul.nav-main > li + li {
	margin-left: -4px;
}

#header nav ul.nav-main > li > a:before {
	background: #F1f1f1;
	display: block;
	content: " ";
	width: 1px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 10px;
}

#header nav ul.nav-main li a {
	color: #9c9c9c;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 100;
	line-height: 20px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 10px 13px;
}

#header nav ul.nav-main li a:hover {
	background-color: transparent;
}

#header nav ul.nav-main li ul a {
	text-transform: none;
	font-weight: normal;
	font-size: 0.9em;
}

#header nav ul.nav-main li.dropdown.open a.dropdown-toggle {
	border-radius: 5px 5px 0px 0px;
	background-color: #CCC;
}

#header nav ul.nav-main li.dropdown:hover > a {
	padding-bottom: 11px;
	margin-bottom: -1px;
}

#header nav ul.nav-main li.dropdown:hover > a:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #434A54;
	position: absolute;
	bottom: -3px;
	left: 40%;
}

#header nav ul.nav-main li.dropdown:hover > ul {
	display: block;
}

#header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
	border-radius: 5px 5px 0px 0px;
}

#header nav ul.nav-main li.active a {
	background-color: transparent;
}

#header nav ul.nav-main li a.dropdown-toggle.extra {
	display: none;
}

#header nav ul.nav-main ul.dropdown-menu {
	background-color: #434a54;
	border: 0;
	border-radius: 6px;
	margin: 0 0 0 3px;
	padding: 10px 5px;
	top: auto;
}

#header nav ul.nav-main ul.dropdown-menu li:hover > a {
	filter: none;
	background: #393f48;
	padding-left: 16px;
	padding-right: 16px;
}

#header nav ul.nav-main ul.dropdown-menu li:last-child > a {
	border-bottom: 0;
}

#header nav ul.nav-main ul.dropdown-menu > li > a {
	color: #ececed;
	font-weight: 400;
	padding-bottom: 4px;
	padding-top: 4px;
	text-transform: none;
	position: relative;
	padding: 8px 20px 8px 12px;
	font-size: 0.9em;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
	border-radius: 6px;
	margin-left: 0;
	margin-top: -5px;
}

#header nav ul.nav-main .dropdown-submenu {
	position: relative;
}

#header nav ul.nav-main .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	border-radius: 0 6px 6px 6px;
}

#header nav ul.nav-main .dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

#header nav ul.nav-main .dropdown-submenu.pull-left {
	float: none;
}

#header nav ul.nav-main .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	border-radius: 6px 0 6px 6px;
}

#header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

#header nav ul.nav-main .dropdown-submenu:hover > a:after {
	border-left-color: #FFF;
}

#header nav ul.nav-top {
	margin: 10px 0 -20px;
}

#header nav ul.nav-top li span {
	display: block;
	line-height: 14px;
	margin-bottom: 2px;
	margin-right: 0;
	margin-top: 0;
	padding: 8px 2px 8px 12px;
}

#header nav ul.nav-top li a, #header nav ul.nav-top li span {
	color: #999;
	font-size: 0.9em;
	padding: 6px 10px;
	background: transparent;
}

#header nav ul.nav-top li a:hover, #header nav ul.nav-top li span:hover {
	color: #666;
}

#header nav ul.nav-top li i {
	margin-right: 6px;
	position: relative;
	top: 1px;
}

#header .nav-main-collapse {
	overflow-y: visible;
}

#header .nav-main-collapse.in {
	overflow-y: visible;
}

/* Logo */
#header .logo {
	background: #fff;
	border-bottom: 3px solid #e5e7e9;
	border-radius: 6px;
	color: #000;
	display: block;
	float: left;
	height: 100%;
	margin: 7px -32px -25px 0;
	padding: 10px 30px 20px;
	transition: all 0.2s ease 0s;
	z-index: 100;
}

#header .logo a {
	position: relative;
	z-index: 1;
}

#header .logo img {
	position: relative;
	color: transparent;
}

/* Header Container */
.header-container {
	min-height: 76px;
	position: relative;
}

/* Responsive Nav Button */
.btn-responsive-nav {
	display: none;
}

/* Sticky Menu */
#header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
}

body.sticky-menu-active #header {
	padding: 5px;
	top: -10px;
	position: fixed;
}

body.sticky-menu-active #header .logo {
	padding-bottom: 15px;
}

body.sticky-menu-active #header .header-top {
	margin-top: -40px;
}

/* Header Mega Menu */
@media (min-width: 992px) {
	#header nav.mega-menu .nav, #header nav.mega-menu .dropup, #header nav.mega-menu .dropdown, #header nav.mega-menu .collapse {
		position: static;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
		color: #ececed;
		display: block;
		font-size: 1em;
		font-weight: 600;
		padding-bottom: 5px;
		text-transform: uppercase;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title .not-included {
		color: #b7b7b7;
		display: block;
		font-size: 0.8em;
		font-style: normal;
		margin: -8px 0 -4px;
		padding: 0;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
		background: #434a54 !important;
		color: #87919f;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a {
		color: #afafaf;
		margin: 0 0 0 -8px;
		padding: 3px 8px;
		text-transform: none;
		font-size: 0.9em;
		display: block;
		font-weight: normal;
		border-radius: 4px;
		border: 0;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover {
		text-decoration: none;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
		border-radius: 6px;
	}

	#header nav.mega-menu .navbar-inner, #header nav.mega-menu .container {
		position: relative;
	}

	#header nav.mega-menu .dropdown-menu {
		left: auto;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	#header nav.mega-menu .dropdown-menu > li {
		display: block;
	}

	#header nav.mega-menu .mega-menu-content {
		padding: 20px 30px;
	}

	#header nav.mega-menu .mega-menu-content:before {
		display: table;
		content: "";
		line-height: 0;
	}

	#header nav.mega-menu .mega-menu-content:after {
		display: table;
		content: "";
		line-height: 0;
		clear: both;
	}

	#header nav.mega-menu.navbar .nav > li > .dropdown-menu:after, #header nav.mega-menu.navbar .nav > li > .dropdown-menu:before {
		display: none;
	}

	#header nav.mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;
	}

	#header nav.mega-menu nav.pull-right .dropdown-menu {
		right: 0;
	}

	#header.flat-menu nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
		border-radius: 0;
	}
}
/* Responsive */
@media (max-width: 991px) {
	.sticky-menu-deactive {
		padding-top: 0 !important;
	}

	.sticky-menu-deactive section.page-top {
		margin-top: 0;
	}

  /* Header */
	#header {
		position: relative;
		clear: both;
	}

	#header > .container {
		margin-bottom: 0;
	}

	#header .social-icons, #header .search {
		display: none;
	}

	#header .nav-collapse {
		background: #171717;
		width: 100%;
		clear: both;
		width: 100%;
	}

	#header .nav-collapse .container .nav-main {
		float: left;
		width: 100%;
	}

	#header .nav-main-collapse {
		top: 12px;
		position: relative;
		background: #171717;
		max-height: none;
		width: 100%;
		overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	#header .nav-main-collapse.collapse {
		display: none !important;
	}

	#header .nav-main-collapse.in {
		width: 100%;
		overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
		display: block !important;
	}

	#header .nav-main {
		padding: 10px 0;
		clear: both;
		display: block;
		float: none;
		width: 100%;
	}

	#header .nav-main ul {
		padding: 0;
		margin: 0;
	}

	#header .nav-main ul li {
		padding: 0;
		margin: 0;
		clear: both;
		float: none;
		display: block;
		border-bottom: 1px solid #2A2A2A;
	}

	#header .nav-main ul li:last-child {
		border-bottom: none;
	}

	#header .nav-main ul ul {
		margin-left: 20px !important;
	}

	#header .nav-main ul.nav-main {
		float: none;
		position: static;
		margin: 8px 0;
		margin-right: -10px;
	}

	#header .nav-main ul.dropdown-menu {
		position: static;
		clear: both;
		float: none;
		display: none !important;
	}

	#header .nav-main li.resp-active > ul.dropdown-menu {
		display: block !important;
	}

	#header .nav-main li.dropdown a.dropdown-toggle.extra {
		float: right;
		position: relative;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		margin: 3px 0 -38px 0;
		z-index: 10;
		display: block;
	}

	#header .nav-main li a.dropdown-toggle.disabled .fa {
		display: none;
	}

	#header .nav-main li.dropdown:hover > a:after,
  #header .nav-main > li > a:before {
		display: none !important;
	}

	#header nav ul.nav-main > li + li {
		margin-left: 0;
	}

	#header nav ul.nav-main li a {
		color: #FFF;
		clear: both;
		float: none;
		display: block;
		padding: 9px 8px;
		border: 0;
		border-top: 0;
		margin: 0;
	}

	#header nav ul.nav-main li a i.fa-angle-down {
		position: absolute;
		right: 5px;
		top: 10px;
	}

	#header nav ul.nav-main li.dropdown:hover > a {
		margin-bottom: -2px;
	}

	#header nav ul.nav-main ul.dropdown-menu {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	#header nav ul.nav-main ul.dropdown-menu li > a {
		padding: 9px 8px;
		border: 0;
		border-top: 0;
		margin: 0;
		border-bottom: none;
	}

	#header nav ul.nav-main ul.sub-menu {
		padding: 0;
		margin: 0 0 10px 0;
	}

	#header nav ul.nav-main .dropdown-submenu > a:after {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #FFF;
	}

	#header nav ul.nav-main .dropdown-submenu:hover > a:after {
		border-left-color: transparent;
	}

	#header.flat-menu > .container {
		margin-bottom: 0;
	}

	#header.flat-menu nav ul.nav-main {
		padding: 0;
		margin: 0;
	}

	#header.flat-menu nav ul.nav-main li a {
		color: #FFF !important;
	}

	#header.center nav ul.nav-main > li {
		display: block;
	}

	body #header nav ul.nav-main ul.dropdown-menu {
		background: none !important;
		background-color: transparent !important;
	}

	body #header nav ul.nav-main li.dropdown.open .dropdown-toggle, body #header nav ul.nav-main li a, body #header nav ul.nav-main li > a:hover, body #header nav ul.nav-main li.active a, body #header nav ul.nav-main li.dropdown:hover a {
		background: none !important;
		background-color: transparent !important;
	}

	body #header nav ul.nav-main ul.dropdown-menu li:hover > a, body #header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
		background: none !important;
		background-color: transparent !important;
	}

	body #header.flat-menu nav ul.nav-main li.dropdown:hover a {
		background: none !important;
		background-color: transparent !important;
	}

	body #header.flat-menu nav ul.nav-main li a, body #header.flat-menu nav ul.nav-main li.dropdown:hover > a {
		padding: 9px 8px;
		border: 0;
		border-top: 0;
		margin: 0;
	}

	body #header.single-menu nav ul.nav-main li.active > a {
		padding: 9px 8px;
		border: 0;
		border-top: 0;
		margin: 0;
	}

	body #header.flat-menu nav ul.nav-main li > a:hover, body #header.flat-menu nav ul.nav-main li.dropdown:hover a {
		background: transparent !important;
	}

	html.boxed #header.single-menu > .container, html.boxed #header.flat-menu > .container {
		height: 95px;
		margin-bottom: 10px;
	}

	html.boxed #header.single-menu ul.nav-main, html.boxed #header.flat-menu ul.nav-main {
		margin: 5px 25px 5px 0;
	}

	html.boxed #header.single-menu nav ul.nav-main > li > a, html.boxed #header.flat-menu nav ul.nav-main > li > a {
		padding: 9px 8px !important;
	}

	body.sticky-menu-active #header,
  #header.fixed {
		position: fixed;
	}

	body.sticky-menu-active #header .nav-main-collapse,
  #header.fixed .nav-main-collapse {
		max-height: 300px;
	}

	body.sticky-menu-active #header .nav-main-collapse.in,
  #header.fixed .nav-main-collapse.in {
		overflow: hidden !important;
		overflow-x: hidden !important;
		overflow-y: auto !important;
	}

	body.sticky-menu-active #header .logo img,
  #header.fixed .logo img {
		margin-top: -12px;
	}

  /* Responsive Button Nav */
	.btn-responsive-nav {
		background: #171717;
		border-bottom-color: #030303 !important;
		top: 15px;
		display: block;
		position: absolute;
		right: 20px;
		color: #FFF;
		z-index: 1;
	}

	.btn-responsive-nav:hover, .btn-responsive-nav:active, .btn-responsive-nav:focus {
		color: #CCC;
		outline: none;
	}

	#header.single-menu .btn-responsive-nav {
		top: 30px;
	}

	#header.flat-menu .btn-responsive-nav, #header.center .btn-responsive-nav {
		top: 35px;
	}

  /* Logo */
	#header h1.logo img {
		max-width: 180px;
		max-height: none !important;
		height: auto !important;
	}

	#header.center h1.logo {
		text-align: left;
	}

  /* Nav Top */
	#header .header-top ul.nav-top {
		float: left;
		margin: 7px 0 0 -15px;
		min-height: 5px;
	}

	body section.page-top .slider-container + .page-top-info {
		margin-bottom: -45px;
		margin-top: -85px;
	}
}

@media (max-width: 767px) {
  /* Header */
	#header {
		display: block;
	}

	#header > .container {
		width: 100%;
	}

	#header .social-icons {
		display: none;
	}

	#header nav ul.nav-top {
		float: right;
		margin-right: 0;
	}

	#header.center nav {
		width: auto;
	}

  /* Responsive Button Nav */
	.btn-responsive-nav {
		top: 15px;
	}

	body section.page-top .slider-container + .page-top-info {
		margin-bottom: -35px;
		margin-top: -15px;
	}
}

@media (max-width: 479px) {
	#header nav ul.nav-top, #header .header-top {
		display: none;
	}
}

@media (max-width: 600px) {
  /* Header */
	#header nav ul.nav-top li {
		display: none;
	}

	#header nav ul.nav-top li .phone {
		display: block;
	}
}
/* Page Top */
section.page-top {
	background: transparent;
	margin: 40px 0 50px;
	min-height: 50px;
	padding: 0 0 5px 0;
	text-align: left;
}

section.page-top .slider {
	height: 200px;
	overflow: hidden;
	clear: both;
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

section.page-top .slider.revslider-initialised {
	filter: alpha(opacity=100);
	opacity: 1;
}

section.page-top .tp-loader {
	display: none;
}

section.page-top .page-top-info ul.breadcrumb {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: -3px 0 0;
	padding: 1px 10px;
	position: relative;
	display: inline-block;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	top: -30px;
	filter: alpha(opacity=0);
	opacity: 0;
}

section.page-top .page-top-info ul.breadcrumb > li {
	text-shadow: none;
	color: #DFDFDF;
	font-size: 75%;
}

section.page-top .page-top-info ul.breadcrumb > li span.label {
	font-size: 100%;
}

section.page-top .page-top-info h2 {
	background: #bf7600;
	color: #FFF;
	display: inline-block;
	font-weight: 200;
	font-size: 3.2em;
	line-height: 1em;
	position: relative;
	letter-spacing: -2px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	top: 30px;
	padding: 10px;
	filter: alpha(opacity=0);
	opacity: 0;
}

section.page-top .page-top-info.init ul.breadcrumb, section.page-top .page-top-info.init h2 {
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0;
	clear: both;
}

section.page-top .page-top-info.init a {
	color: #FFF;
}

section.page-top .slider-container + .page-top-info {
	margin-top: -130px;
	margin-bottom: 20px;
	position: relative;
	z-index: 100;
}

section.page-top .parallax {
	min-height: 300px;
	margin-top: -20px;
}

section.page-top .parallax + .page-top-info {
	margin-top: -200px;
	margin-bottom: 0;
	position: relative;
	z-index: 100;
}

/* Page Top Basic */
section.page-top.basic {
	background: #bf7600;
	margin: 40px 0 50px;
	padding-top: 50px;
}

section.page-top.basic .page-top-info h2 {
	margin-bottom: 25px;
	padding: 0;
}

section.page-top.basic .page-top-info ul.breadcrumb {
	background: transparent !important;
}

/* Responsive */
@media (max-width: 479px) {
	.page-top {
		padding: 16px 0;
	}

	.page-top h2 {
		line-height: 37px;
	}
}
/* Parallax */
.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 70px 0;
	padding: 50px 0;
	position: relative;
	height: 420px;
}

.parallax.parallax-ready {
	background-attachment: fixed;
}

.parallax.parallax-disabled {
	background-attachment: scroll !important;
	background-position: 50% 50% !important;
}

.parallax blockquote {
	border: 0;
	padding: 0 10%;
}

.parallax blockquote i.fa-quote-left {
	font-size: 34px;
	position: relative;
	left: -5px;
}

.parallax blockquote p {
	font-size: 24px;
	line-height: 30px;
}

.parallax blockquote span {
	font-size: 16px;
	line-height: 20px;
	color: #999;
	position: relative;
	left: -5px;
}

/* Responsive */
@media (max-width: 991px) {
	.parallax {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}
}
/* Section Featured */
section.featured {
	clear: both;
	background: #F0F0ED;
	border-top: 5px solid #ECECE8;
	margin: 35px 0;
	padding: 50px 0;
}

section.featured.footer {
	margin: 30px 0 -70px;
}

section.featured.map {
	background-image: url(../img/map-bottom.png);
	background-position: center 0;
	background-repeat: no-repeat;
	margin-top: 0;
	border-top: 0;
}

/* Section Highlight */
section.highlight {
	clear: both;
	background: #CCC;
	boder-left: 0;
	boder-right: 0;
	border: 3px solid #CCC;
	margin: 35px 0 45px;
	padding: 40px 0;
	color: #FFF;
}

section.highlight > p, section.highlight > a {
	color: #FFF;
}

section.highlight h1, section.highlight h2, section.highlight h3, section.highlight h4, section.highlight h5 {
	color: #FFF;
}

section.highlight .img-thumbnail {
	background-color: #FFF !important;
	border-color: #FFF !important;
}

section.highlight.footer {
	margin: 45px 0 -70px;
}

section.highlight.top {
	margin-top: 0;
}

/* Call To Action */
section.call-to-action {
	position: relative;
	clear: both;
	overflow: hidden;
	background: #C9D0DA;
	border: 0;
	padding: 40px 0 30px;
	border-bottom: 3px solid #B6BDC7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

section.call-to-action h3 {
	text-transform: none;
	color: #121212;
	padding-bottom: 0;
	margin-bottom: 0;
}

section.call-to-action h3 .btn {
	margin-left: 10px;
}

section.call-to-action.footer {
	margin: 10px 0 -20px;
}

section.call-to-action.footer.footer {
	margin-top: 65px;
}

/* Sidebar */
aside ul.nav-list > li > a {
	color: #666;
	font-size: 0.9em;
}

/* Home Slider - Revolution Slider */
.slider-container {
	background: #666;
	max-height: 580px;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
	background: transparent;
}

.slider-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-container .tp-caption {
	filter: alpha(opacity=0);
	opacity: 0;
}

.slider-container .tp-caption a {
	color: #FFF;
}

.slider-container .tp-caption a:hover {
	color: #FFF;
}

.slider-container-fullscreen {
	max-height: none;
}

.slider-container-fullscreen .slider {
	max-height: none;
}

.slider {
	max-height: 580px;
	position: relative;
}

.slider > ul > li > img {
	visibility: hidden;
}

.slider .tp-bannertimer {
	display: none;
}

.slider a.main-button {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	font-weight: 300;
	line-height: 20px;
	padding: 20px 55px;
}

.tp-bannershadow {
	display: none;
}

/* Revolution Slider - Basics */
.slider-container .tp-caption.fullscreenvideo {
	left: 0 !important;
}

.slider-container .top-label {
	color: #9a9a9a;
	font-size: 32px;
	font-weight: 300;
	font-family: 'Alegreya SC', sans-serif;
	-webkit-text-stroke: 0.2px;
}

.slider-container .top-label.md {
	font-size: 28px;
	-webkit-text-stroke: 0;
}

.slider-container .main-label {
	color: #222831;
	font-size: 130px;
	line-height: 150px;
	font-weight: 900;
	-webkit-text-stroke: 0.6px;
}

.slider-container .main-label.md {
	font-size: 100px;
	line-height: 100px;
}

.slider-container .bottom-label {
	color: #666;
	font-size: 20px;
	font-weight: 100;
	-webkit-text-stroke: 0.2px;
}

.slider-container .bottom-label.md {
	font-size: 16px;
	line-height: 16px;
}

.slider-container .top-line {
	height: 1px;
	width: 200px;
	background: #B7BDC0;
}

.slider-container.light .top-label, .slider-container.light .main-label, .slider-container.light .bottom-label {
	color: #333;
}

.slider-container.light .tp-caption a {
	color: #333;
}

.slider-container.light .tp-caption a:hover {
	color: #333;
}

.slider-container .top-label.white, .slider-container .main-label.white, .slider-container .bottom-label.white {
	color: #FFF;
}

.slider-container .tp-caption a.white {
	color: #FFF;
}

.slider-container .tp-caption a.white:hover {
	color: #FFF;
}

.slider-container .top-label.dark, .slider-container .main-label.dark, .slider-container .bottom-label.dark {
	color: #444;
}

.slider-container .tp-caption a.dark {
	color: #444;
}

.slider-container .tp-caption a.dark:hover {
	color: #444;
}

.slider-container .top-label.text-bg, .slider-container .main-label.text-bg, .slider-container .bottom-label.text-bg {
	padding: 10px;
}

.slider-container .tp-caption a.text-bg {
	padding: 10px;
}

.slider-container .tp-caption a.text-bg:hover {
	padding: 10px;
}

/* Slider Overlay*/
.slider-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: transparent;
	filter: alpha(opacity=75);
	opacity: 0.75;
}

.home-top {
	background-image: url(../img/home-bg.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	margin-bottom: 60px;
	margin-top: 30px;
	position: relative;
}

.home-top.clean {
	background: none;
}

/* Responsive */
@media (max-width: 991px) {
	.home-top {
		margin-top: 0;
	}
}
/* Main Carousel */
.main-carousel {
	margin-top: -60px;
	overflow: hidden;
	padding-bottom: 120px;
	padding-top: 120px;
	position: relative;
	visibility: hidden;
	width: 100%;
}

.main-carousel .owl-controls {
	text-align: right;
	position: absolute;
	bottom: -165px;
	right: 15px;
}

.main-carousel .owl-pagination {
	visibility: hidden;
}

.main-carousel .owl-buttons {
	display: none;
}

.main-carousel .owl-carousel .owl-wrapper-outer {
	overflow: visible;
}

.main-carousel .owl-carousel .owl-item > div {
	position: relative;
	padding: 10px;
}

.main-carousel .carousel-overlay {
	position: absolute;
	top: -15%;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -100px;
	height: 115%;
	display: none;
	background: transparent;
	z-index: 10;
}

.main-carousel .img-thumbnail {
	padding: 13px;
	min-width: 250px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.main-carousel .img-thumbnail .thumb-info-image img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.main-carousel a.thumb-info {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.main-carousel a.thumb-info .thumb-info-image:before {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.main-carousel a.carousel-nav {
	width: 70px;
	position: absolute;
	top: 50%;
	left: 10px;
	bottom: 0;
	background: #F7F9FC;
	height: 70px;
	z-index: 11;
	display: block;
	filter: alpha(opacity=100);
	opacity: 100;
	padding: 0;
	border-top: 0;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 22px;
	color: #787F89;
	line-height: 68px;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.main-carousel a.carousel-nav:hover {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.main-carousel a.carousel-nav.next {
	left: auto;
	right: 10px;
}

.main-carousel .carousel-nav-overlay.prev {
	width: 90px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: transparent;
	height: 100%;
	z-index: 10;
}

.main-carousel .carousel-nav-overlay.next {
	width: 90px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: transparent;
	height: 100%;
	z-index: 10;
	left: auto;
	right: 0;
}

.main-carousel .carousel-clone {
	position: absolute;
	top: 120px;
	width: 100%;
	left: 0;
	-moz-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-filter: blur(3px);
}

.main-carousel .carousel-clone .owl-carousel {
	filter: alpha(opacity=0) !important;
	opacity: 0 !important;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.main-carousel .carousel-clone .owl-carousel.owl-carousel-init {
	filter: alpha(opacity=22) !important;
	opacity: 0.22 !important;
}

.main-carousel .carousel-clone .img-thumbnail {
	background: #EDEDED;
}

.main-carousel .carousel-clone-overlay {
	position: absolute;
	top: -18%;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -100px;
	height: 120%;
	background: transparent;
}

.main-carousel-tooltip {
	background: #222831;
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 10px;
	color: #C7CDD3;
	width: 200px;
	text-align: center;
	min-height: 35px;
	z-index: 10;
	font-size: 0.9em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.main-carousel-tooltip:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #222831;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -10px;
}

/* Home Player */
.home-player {
	background: #EDEFF2;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
	padding-top: 5px;
	position: relative;
	top: 45px;
}

.home-player a.home-player-icon {
	font-size: 80px;
	display: block;
	-webkit-transform: translate3d(0, 0, 0);
}

.home-player a.home-player-icon i.fa {
	-webkit-text-stroke: 0.5px;
}

/* Page 404 */
.page-not-found {
	margin: 50px 0;
}

.page-not-found h2 {
	font-size: 140px;
	font-weight: 600;
	letter-spacing: -10px;
	line-height: 140px;
}

.page-not-found h4 {
	color: #87919f;
}

.page-not-found p {
	font-size: 1.4em;
	line-height: 36px;
}

/* Responsive */
@media (max-width: 479px) {
	.page-not-found {
		margin: 0;
	}

	.page-not-found h2 {
		font-size: 100px;
		letter-spacing: 0;
		line-height: 100px;
	}
}
/* #Footer */
#footer {
	background: #bf7600;
	border-top: 4px solid #bf7600;
	font-size: 0.9em;
	margin-top: 70px;
	padding: 80px 0 0;
	position: relative;
	clear: both;
}

#footer p {
	color: #7a8089;
}

#footer a:hover {
	color: #CCC;
}

#footer form {
	filter: alpha(opacity=85);
	opacity: 0.85;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer a {
	color: #FFF !important;
}

#footer h4 {
	font-family: "Oswald",sans-serif;
	font-size: 1.8em;
	font-weight: 200;
}

#footer h5 {
	color: #CCC !important;
}

#footer ul.nav-list.primary > li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	line-height: 20px;
	padding-bottom: 11px;
}

#footer ul.nav-list.primary > li:last-child a {
	border-bottom: 0;
}

#footer ul.nav-list.primary > li a:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

#footer ul.list.icons li {
	margin-bottom: 5px;
}

#footer .container .row > div {
	margin-bottom: 25px;
}

#footer .container input:focus {
	box-shadow: none;
}

#footer .alert a {
	color: #222 !important;
}

#footer .alert a:hover {
	color: #666 !important;
}

#footer .twitter .fa {
	clear: both;
	font-size: 1.5em;
	position: relative;
	top: 3px;
}

#footer .twitter .time {
	color: #999;
	display: block;
	font-size: 0.9em;
	padding-top: 3px;
	margin-bottom: 20px;
}

#footer .twitter .time:last-child {
	margin-bottom: 0;
}

#footer .twitter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .twitter-account {
	color: #FFF;
	display: block;
	font-size: 0.9em;
	margin: -15px 0 5px;
	filter: alpha(opacity=55);
	opacity: 0.55;
}

#footer .twitter-account:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

#footer .contact {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .contact i {
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 7px 8px 10px 0;
	position: relative;
	text-align: center;
	top: -2px;
	width: 16px;
}

#footer .contact i.fa-envelope {
	font-size: 1em;
	top: 0;
}

#footer .contact p {
	margin-bottom: 10px;
}

#footer .logo {
	display: block;
}

#footer .logo.push-bottom {
	margin-bottom: 12px;
}

#footer .footer-copyright {
	background: #272d35;
	border-top: 4px solid #272d35;
	margin-top: 40px;
	padding: 30px 0 10px;
}

#footer .footer-copyright nav {
	float: right;
}

#footer .footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

#footer .footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

#footer .footer-copyright p {
	color: #5b616a;
	margin: 0;
	padding: 0;
}

#footer .phone {
	color: #FFF;
	font-size: 26px;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	margin-top: -5px;
}

#footer .social-icons {
	clear: both;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .social-icons li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#footer .social-icons li a {
	display: inline-block;
	width: 35px;
	color: #5B616A !important;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#footer .recent-work li {
	float: left;
	width: 30%;
	margin: 10px 3% 0 0;
}

#footer .recent-work li .thumb-info {
	float: left;
	display: inline-block;
	background: transparent;
	border: 0;
}

#footer .recent-work li:hover img {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1;
	filter: none;
	-webkit-filter: none;
}

#footer .recent-work img {
	width: 100%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 100%;
	opacity: 0.5;
}

#footer .view-more-recent-work {
	padding: 12px;
}

/* Responsive */
@media (max-width: 991px) {
	#footer .phone {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
  /* Footer */
	#footer .phone {
		font-size: 20px;
	}
}
/* Boxed Layout */
html.boxed body {
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat;
	padding-top: 0 !important;
}

html.boxed .body {
	background-color: #edeff2;
	border-bottom: 5px solid #bf7600;
	border-radius: 5px;
	border-top: 5px solid #CCC;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	margin: 25px auto;
	max-width: 1200px;
	height: auto;
}

html.boxed #header {
	position: relative;
}

html.boxed body.sticky-menu-active #header {
	left: 0;
	position: fixed;
}

html.boxed section.page-top {
	margin-top: -3px;
}

html.boxed.no-page-top body > .body {
	padding-top: 0 !important;
}

html.boxed .google-map {
	margin-top: -2px;
}

html.boxed .home-top {
	margin-top: -5px;
}

html.boxed .shop, html.boxed .blog-posts {
	margin-top: 45px;
}

html.boxed .sort-source-wrapper {
	margin-top: -10px;
}

html.boxed.no-page-top .portfolio-title {
	margin-top: 35px;
}

/* Responsive */
@media (max-width: 991px) {
	html.boxed .body {
		margin: 0 auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

@media (max-width: 767px) {
  /* Boxed */
	html.boxed {
		background: none !important;
	}
}
