/* Add here all your CSS customizations */
a:hover {
    text-decoration: none;
}

.body {
    margin-bottom: 200px;
    font-size: 14px;
}

p {
    color: #464d58;
}

#footer {
    position: fixed; 
    bottom: 0px;  
    padding-top: 10px; 
    height: 140px;  
    margin-bottom: 0px; 
    margin-top: 0; 
    width:100%;
    color: #fff !important;
}

#footer p, #footer a {
    color: #f67500 !important;
}

#footer .container ul {
    list-style: none;
}

#footer .container ul .block-link {
    text-align: center; 
    display: block;
    margin-left: -75px;
}

#footer .container ul .block-link i {
    font-size: 30px;
}

.feature-box-image {
    text-align: center;
}

.feature-box-image img {
    width: 70%;
    margin-bottom: 15px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .feature-box-image img {
        width: 42%;
        margin-bottom: 20px;
        text-align: center;
    }

    #footer {
        height: 85px;
    }
    
    #footer .bottom-footer {
        display: none;
    }

    .parallax .right-side {
        display: none;
    }

    .featured-boxes {
        text-align: center;
        padding: 0 25px;
    }
}